.menu {
    height: 70px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: 700;
}

nav.menu a {
    text-decoration: none;
    color: black;
    margin-right: 20px;
}

@media only screen and (max-width: 768px) {
    .menu {
        flex-wrap: wrap-reverse;
        text-align: center;
    }

}